<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>You have successfully placed your order</strong>. Your order number is <%= orderNo %> </p>
        <hr>
        <p>
          Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
        </p>
      </div>
</body>
</html>